In [1]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else: 
            return b

In [3]:
# Check 1
lesser_of_two_evens(2,4)

2

In [4]:
# Check 2
lesser_of_two_evens(2,5)

5

In [5]:
# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    #Split words
    a=text.split()
    #Get first letter from each word
    if a[0][0] == a[1][0]:
        return True
    else:
        return False

In [7]:
# Check
animal_crackers('Levelheaded Llama')

True

In [8]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [9]:
# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. 
# If not, return False
# makes_twenty(20,10) --> True
# makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [11]:
# Check
makes_twenty(20,10)

True

In [12]:
# Check
makes_twenty(2,3)

False

In [13]:

#   LEVEL 1 PROBLEMS
#   OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#   old_macdonald('macdonald') --> MacDonald

#   Note: 'macdonald'.capitalize() returns 'Macdonald'

In [14]:
def old_macdonald(name):
    if len(name) >3:
        a= name[0].upper() + name[1:3] + name[3].upper() + name[4:] 
        return a
    else:
        print ('Name too short!')

In [15]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [16]:

#  ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
#    almost_there(90) --> True
#    almost_there(104) --> True
#    almost_there(150) --> False
#    almost_there(209) --> True

In [17]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [18]:
almost_there(90)

True

In [19]:
almost_there(209)

True

In [20]:
almost_there(150)

False

In [21]:
#FIND 33:
# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
# has_33([1, 3, 3]) → True
# has_33([1, 3, 1, 3]) → False
# has_33([3, 1, 3]) → False

In [22]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return True
        else:
            return False

In [23]:
has_33([1,2,3,4,5])

False

In [24]:
has_33([1, 3, 3])

False

In [25]:
has_33([1, 3, 1, 3])

False

In [26]:
has_33([3, 1, 3])

False

In [27]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [28]:
def paper_doll(text):
    repeat =''
    for character in text:
        repeat += character*3
    print (repeat)

In [29]:
paper_doll('Hello')

HHHeeellllllooo

In [30]:
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

In [31]:
#    BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, 
#.   return their sum. If their sum exceeds 21 and there's an eleven, 
#.   reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
##   blackjack(5,6,7) --> 18
#    blackjack(9,9,9) --> 'BUST'
#.   blackjack(9,9,11) --> 19

In [32]:
def blackjack(*args):
    a = sum(args)
    if a <= 21:
        return a
    else:
        return 'BUST'

In [33]:
blackjack(5,6,7)

18

In [34]:
blackjack(9,9,9)

'BUST'

In [35]:
blackjack(9,9,11)

'BUST'

In [36]:
# Define a function that takes a string, returns a matching string where every even letter is Uppercase, 
# and every odd letter is lower case

In [37]:
def myfunc(word):
    output = ''
    i = True
    for char in word:
        if i:
            output += char.lower()
        else: 
            output += char.upper()
        i = not i
            
    return output

In [38]:
myfunc('hello')

'hElLo'

In [45]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
# spy_game([1,2,4,0,0,7,5]) --> True
# spy_game([1,0,2,4,0,5,7]) --> True
# spy_game([1,7,2,0,4,5,0]) --> False

In [46]:
def spy_game(numbers):
    
    code = [0,0,7,'x']
    
    for num in numbers:
        #This checks that the first number of the code is the same, then removes it, and checks the next first
        #which is in the second if nothing was removed.
        if num == code[0]:
            code.pop(0)
        
        #This checks that the length of the code is 1, i.e only the 'x' is remaining, as the others would have been
        #Deleted
    return len(code) == 1

In [41]:
spy_game([1,2,4,0,0,7,5])

True

In [43]:
spy_game([1,0,2,4,0,5,7])

True

In [44]:
spy_game([1,7,2,0,4,5,0])

False

In [47]:
spy_game([0,0,7])

True

In [49]:
#This will return false as it is not 007 in order in the list
spy_game([0,7,0])

False

In [50]:
#BIG LETTERS

In [51]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [52]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [69]:
print_big('b') 
print('') 
print_big ('a')
print('') 
print_big('b') 
print('') 
print_big('e')

****
*   *
****
*   *
****

  *
 * *
*****
*   *
*   *

****
*   *
****
*   *
****

*****
*
*****
*
*****