Tuples are very similar to lists, with one key differnce, immutability. 
Once an element is inside a tuple, it can not be reassigned. 
Tuples use parenthesis (1,2,3) whereas lists use square brackets

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [6]:
t

(1, 2, 3)

In [7]:
len(t)

3

In [8]:
#Can slice and index a tuple like a list, and it can include different input types

In [9]:
t = ( 'a', 'a', 'a', 'b', 'f', 'g')

In [10]:
#You can use count how many times something comes up in a touple using the count function
t.count('a')

3

In [11]:
#Index function for a tuple returns the index of the first time the value appears

In [12]:
t.index('f')

4

In [13]:
mylist

[1, 2, 3]

In [14]:
t

('a', 'a', 'a', 'b', 'f', 'g')

In [15]:
mylist [0] ='NEW'

In [16]:
mylist

['NEW', 2, 3]

In [17]:
t [0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [18]:
#Tuples do nto support changing of items as seen above, they are fixed